<section class="contacts-header">
    <span class="header-text">{{'CONTACTS' | translate}}</span>
</section>
<article>
    <div class="row-fluid">
        <div class="contacts-content">
            <h5 translate="CONTACTS"></h5>
            <div class="media">
                <span class="display">+375162535345</span>
                <i class="fa fa-phone"></i>
            </div>
            <div class="media">
                <span class="display">E-mail: dmtech.job@gmail.com</span>
                <i class="fa fa-envelope"></i>
                <div class="anchor-block">
                    <a href="mailto:dmtech.job@gmail.com" translate="WRITE_TO_US"></a>
                </div>
            </div>
            <h5 translate="WE_ARE_IN_SOCIAL_NETS"></h5>
            <social-networks-btns></social-networks-btns>
        </div>
        <div class="contacts-content">
            <h5 translate="OUR_ADDRESS"></h5>
            <div class="address">
                <img src="assets/img/hd_wp/building_photo.jpg" />
                <div class="media">
                    <span class="display">{{'ADDRESS' | translate}}</span>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div class="anchor-block">
                        <a href="https://www.google.com/maps/place/52.0954425,23.7309554/" target="_blank" class="location">
                            {{'SEE_ON_MAP' | translate}}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
