<section class="career-stud-header">
    <span class="header-text">{{'FOR_STUDENTS' | translate}}</span>
</section>
<article>
    <div class="row-fluid">
        <div class="career-content">
            <div class="brief">
                <h5 translate="WANT_TO_JOIN_US"></h5>
                <span translate="CAREER_STUD_PARAGRAPH_1"></span>
            </div>
            <div class="interview">
                <h5 translate="WE_ARE_CARRYING_INTERVIEWS"></h5>
                <span translate="NEED_TO_INTERVIEW"></span>
                <a href="/contacts" translate="CONNECT_WITH_US"></a>
            </div>
        </div>
    </div>
</article>